.landing-background {
  height: 100%;
  background-position: 50%;
  background-size: cover;
  @media screen and (min-aspect-ratio: 4/3) {
    background-image: url(https://creator.vivoom.co/assets/df2f2958b5e60c5d730b7e7fdd468ed3/fullsize.jpg) !important;
  }
  @media screen and (max-aspect-ratio: 4/3) and (min-aspect-ratio: 1/1) {
    background-image: url(https://creator.vivoom.co/assets/ab4c629106e78584c3cef03cc42d84fa/fullsize.jpg) !important;
  }
  @media screen and (max-aspect-ratio: 1/1) and (min-aspect-ratio: 3/4) {
    background-image: url(https://creator.vivoom.co/assets/8996a2f14cd79945ad0122c539e334cb/fullsize.jpg) !important;
  }
  @media screen and (max-aspect-ratio: 3/4) {
    background-image: url(https://creator.vivoom.co/assets/f321c72470363aa492b38e64c12bac65/fullsize.jpg) !important;
  }
}

.create-content .video-select, .screen-with-background {
  background-position: 50%;
  background-size: cover;
  @media screen and (min-aspect-ratio: 4/3) {
    background-image: url(https://creator.vivoom.co/assets/14907734a951eb916645c6675b5da410/fullsize.jpg) !important;
  }
  @media screen and (max-aspect-ratio: 4/3) and (min-aspect-ratio: 1/1) {
    background-image: url(https://creator.vivoom.co/assets/68ff7f166bb324f33a97faa6b50c0311/fullsize.jpg) !important;
  }
  @media screen and (max-aspect-ratio: 1/1) and (min-aspect-ratio: 3/4) {
    background-image: url(https://creator.vivoom.co/assets/4fab90c99a0a253866e7add60acebb8a/fullsize.jpg) !important;
  }
  @media screen and (max-aspect-ratio: 3/4) {
    background-image: url(https://creator.vivoom.co/assets/61c9ae7af326b06ed39c88fb699174e7/fullsize.jpg) !important;
  }
}

.upload-background {
  height: 100%;
  background-position: 50%;
  background-size: cover;
  @media screen and (min-aspect-ratio: 4/3) {
    background-image: url(https://creator.vivoom.co/assets/831910377026672515b3371eeeecc546/fullsize.jpg) !important;
  }
  @media screen and (max-aspect-ratio: 4/3) and (min-aspect-ratio: 1/1) {
    background-image: url(https://creator.vivoom.co/assets/6eaba2e73015ccdb713da2956726dcbf/fullsize.jpg) !important;
  }
  @media screen and (max-aspect-ratio: 1/1) and (min-aspect-ratio: 3/4) {
    background-image: url(https://creator.vivoom.co/assets/0d2292c8ff7dcc500f9d4bd0fc8bb703/fullsize.jpg) !important;
  }
  @media screen and (max-aspect-ratio: 3/4) {
    background-image: url(https://creator.vivoom.co/assets/ab217673a510963d275abfaac3dfdea6/fullsize.jpg) !important;
  }
}

.video-container {
  background-size: cover;
  background: url(theme-background-landscape.jpg) 50% !important;

  @media screen and (max-aspect-ratio: 1/1) {
    background-image: url(theme-background-portrait.jpg);
  }
}


.contact-info-backdrop {
  width: 100vw;
  height: 100vh;
  background: url(https://creator.vivoom.co/assets/df68947f34af88a7bf7e1eb07d400521/fullsize.jpg) !important;
  background-position: 50% !important;
  background-size: cover !important;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
}

.creator-sharing-backdrop {
  background: url(https://creator.vivoom.co/assets/30604000044cbd19c5db489ef75e86b7/fullsize.jpg) !important;
  background-position: 50% !important;
  background-size: cover !important;
  filter: blur(2px);

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
}

.sharing-from-gallery-mine {
  background: url(https://creator.vivoom.co/assets/30604000044cbd19c5db489ef75e86b7/fullsize.jpg) !important;
  background-position: 50% !important;
  background-size: cover !important;
  filter: blur(3px) !important;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
}

.sharing-from-gallery-mine.standalone {
  z-index: 0;
}

.sharing-from-gallery {
  background: url(https://creator.vivoom.co/assets/20b5d31850847484d086d5a84d429815/fullsize.jpg) !important;
  background-position: 50% !important;
  background-size: cover !important;
  filter: blur(2px) !important;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
}

.sharing-from-gallery.standalone {
  z-index: 0;
}

#gallery-summary + nav + ion-pane {
  background: url(gallery-background.jpg) 50%/cover !important;
}

.player-background {
  background: url(player-background.jpg) 50%/cover !important;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
}
